<div class="input-container">
  <%= form_with model: @term, class: "wordy-form" do |f| %>
    <%= f.text_field :term_text, class: 'input-field',
                                 placeholder: 'Enter word / expression',
                                 autofocus: true %>
    <div class="select">
      <% if defined?@default_category_id %>
        <%= f.collection_select(:category_id, Category.all, :id, :name,
                                 selected: @default_category_id,
                                 class: 'select') %>
      <% else %>
        <%= f.collection_select(:category_id, Category.all, :id, :name,
                                 class: 'select') %>
      <% end %>
    </div>
    <%= f.button :button, type: :submit, class: 'btn' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  <% end %>
</div>
