<header>
  <h1>Last added terms</h1>
  <%= link_to learning_path, class: "complete-btn" do %>
    <i class="fas fa-check-double"></i> Review your vocabulary
  <% end %>
</header>

<div class="header">
  <%= form_with model: @term, class: "wordy-form" do |f| %>
    <%= f.text_field :term_text %>
    <div class="select">
      <%= f.collection_select(:category_id, Category.all, :id, :name,
                               selected: @default_category_id,
                               class: 'select') %>
    </div>
    <%= f.button :button, type: :submit, class: 'item-button' do %>
      <i class="fas fa-plus-square"></i>
    <% end %>
  <% end %>
</div>

<%= render 'list' %>

<%= javascript_pack_tag 'custom' %>
