<div class="header">
  <h1>Words you are learning!</h1>
</div>

<div class="grid-container">
  <% @learning_terms.each do |lt| %>
    <div class="grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
         <div class="flip-card-front">
           <h2 style="width:300px;height:300px;"><%= lt.term_text %></h2>
         </div>
         <div class="flip-card-back">
           <h1><%= lt.category.name %></h1>
           <p><%= lt.term_text %>: <%= lt.translation %></p>
           <%= link_to toggle_term_learning_path(term_id: lt.id),
                      method: :post, class: 'learning-do-btn learning-card-do-btn' do %>
             Learned!
             <i class="fas fa-check-double"></i>
           <% end %>
         </div>
        </div>
        </div>
    </div>
  <% end %>
</div>
